* {
	margin: 0;
	padding: 0;
}
html,body
{
	 font-family: 'Cabin', Helvetica, Arial, sans-serif;
	 font-size: 12px;
	background-image:url('../img/bgbody.jpg');
	height: 100%;
}
.plus {
	position: absolute;
	right: 12px;
	top: 17px;
	background-color: lightgray;
	padding: 3px;
	border: 1px solid grey;
	border-radius: 2px;
	font-size: 16px;
	z-index: 2;
}
a.plus:hover {
	font-weight: normal;
}
ol, ul {
	margin-left: 20px;
}
ul>li
{
    list-style-type:none;
}
ul>ul>li {
	list-style-type: circle;
	margin: 0 0 0 8%;
}
ul>ul>ul>li {
list-style-type: circle;
margin: 0 0 0 16%;}
.nej
{
    list-style-type:none;
}

.content
{
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin: -15px 5px 5px 5px;
	position: relative;
}
div.top {
	margin: -16px 0 0 0;

}
hr {
	margin: -10px 0 15px 0;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}​
.upp {

}
div#index {
	float: right;
	margin: 0 0px 0 0;
	width: 70%

}
#cv fieldset {
	padding: 5px;
	box-shadow: 0 0 0 0;
}
fieldset {
box-shadow: 2px 2px 0px #888;
}
div#wrapper
{
	border-radius: 5px;
	-moz-box-shadow: 5px 5px #888;
	-webkit-box-shadow: 5px 5px #888;
	box-shadow: 5px 5px #888;
	margin: 10px auto;
	width:600px;
	max-width: 100%;
	border:1px solid black;
	background:url('../img/bg.jpg');
}
#bgwrapper {
	padding: 0 0 10px 0;
	background: rgba(255, 255, 255, 0.6);
} 
div.rubrik
{
	margin: 0 auto;
	width:92%;
	padding:10px;
	border:0px solid gray;

}
div.underrubrik
{
	margin: 10px auto;
	width:92%;
	border:0px solid gray;
	position: relative;

}
span.namn
{
    text-transform:capitalize;
    
}
fieldset {
	min-height:76px;
	background: rgba(0, 0, 0, 0.1);
	border-radius:5px;
}
h1
{
		text-shadow:2px 2px 2px #999;

	color:#006600;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 35px;
	font-weight: normal;
}

h2 
{
	margin: 10px 0 0 0;
	text-shadow:2px 2px 2px #999;
	margin: 0px;
	color:#006600;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 36px;
	font-weight: normal;
}
h2:hover {
	color:#669966;
	cursor: pointer;
}

h3 
{
	margin: 10px 0 0 0;
	text-shadow:2px 2px 2px #999;
	color:#606060;font-size:10pt;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 28px;
	font-weight: normal;
}

h4 
{
	margin: 10px 0 0 0;
	text-shadow:2px 2px 2px #999;
	color:#606060;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 23px;
	font-weight: normal;
}
.heading {
	margin: 0 0 0 10px;
}
img.minbild
{
	width: 27%;
	border: solid 1px gray;
	margin: 28px 5px 0px 0;
	border-radius: 5px;
	float: left;
	vertical-align: bottom;
}


.aright {
	text-align:right;
}

a:link 
{
    color:#006600;
    text-decoration:none;
}     

a:visited 
{
    color:#006600;
    text-decoration:none;
} 

a:hover 
{
    color:#669966;
    font-weight:bolder;
}

a:active 
{
	color:#006600;
	text-decoration:underline;
}
#footer
{
	width: 100%;
	font-size:10pt;
	

}
footer {
	padding: 10px 10px 5px 0;
	background: rgba(255, 255, 255, 0.6);
	border:0px solid gray;

}
#ptable>tbody>tr>:first-child {
	text-align:right;
}
#presentation {
	text-align: justify;
}
span.clear { clear: left; display: block; }
